<div class="card bg-info bg-opacity-75 p-3 mt-3">
  <h2 class="display-2">Componente Binding</h2>
  <hr>

  <!-- ---------------------- -->
  <h3>Data Binding</h3>
  <!-- ---------------------- -->

  <!-- ---------------------- -->
  <h4>Interpolación</h4>
  <!-- ---------------------- -->

  <p>{{ 2 + 4 }}</p>
  <p>{{mensaje}}</p>
  <p>{{valor1}}</p>
  <!-- <p>{{ `Hola ${mensaje}` }}</p> --> <!-- No puedo dentro d elas {{ }} usar template string (backtick) -->
  <p>¡¡¡{{mensaje}}!!</p>

  <!-- ---------------------- -->
  <h4>Property Binding</h4>
  <!-- ---------------------- -->

  <input type="text" value="123"> <!-- html estandar -->
  <input type="text" value="valor1"> <!-- html estandar -->

  <input type="text" value="{{valor1}}">
  <input type="text" [value]="valor2">

  <!-- ---------------------- -->
  <h4>Event Binding</h4>
  <!-- ---------------------- -->

  <button
    class="btn btn-success my-2"
    (click)="contador=contador+1"
  >
    Incrementar {{ contador }}
  </button>

  <hr>

  <button
    class="btn btn-danger my-2"
    (click)="incrementarX5()"
  >
    IncrementarX5 {{ contador2 }}
  </button>

  <!-- -------------------------- -->
  <h4>Doble Data Binding</h4>
  <!-- -------------------------- -->

  <h5>Manual</h5>

  <input type="text"
    [value]="valor3"
    (input)="modificar($event)"
  > {{valor3}}

  <h5>Automatico</h5>

  <input type="text" [(ngModel)]="valor4"> {{valor4}}

</div>
