<app-navbar></app-navbar>
<div class="container">
  <h1 class="display-1">Hola mundo desde Angular</h1>
  <hr>

  <p class="display-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio deleniti odit dolorem dignissimos quae? Laboriosam veritatis facere fuga ipsam rerum.</p>

  <h2 class="display-3">Usando el Modulo</h2>

  <app-contenido></app-contenido>

  <h2 class="display-3">Incorporando componentes</h2>

  <router-outlet></router-outlet> <!-- Rutas -->

 <!--  <app-usuarios></app-usuarios>
  <app-clientes></app-clientes>
  <app-atributos></app-atributos>
  <app-binding></app-binding>
  <app-estructura></app-estructura>
  <app-estructura-moderno></app-estructura-moderno>
  <app-formularios></app-formularios> -->

</div>

